.navbar {
  background-color: #2f535f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links button {
  background-color: transparent;
  color: #06d6a0;
  border: 2px solid #06d6a0;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-links button:hover {
  background-color: #06d6a0;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(6, 214, 160, 0.5);
}

.logout-button {
  margin-left: auto;
}

.logout-button button {
  background-color: #ef476f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.logout-button button:hover {
  background-color: #d8355d;
}
