.App {
  font-family: sans-serif;
  background-color: #00000039;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-box {
  background: #413b50;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.options button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: left;
}

.correct {
  background-color: #0d4d25;
}

.wrong {
  background-color: #4e1217;
}


button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

button:hover {
  background-color: #413b50;
}

button:disabled {
  background-color: #444;
  cursor: not-allowed;
}

p {
  font-size: 18px;
  text-align: center;
}

.options button {
  width: 100%;
  text-align: left;
  background-color: #2a2a2a;
  margin-bottom: 10px;
  border: 1px solid #333;
  transition: background 0.3s;
}

.options button:hover {
  background-color: #333;
}

.intro-box {
  background: #413b50;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  animation: scaleIn 0.8s ease-out;
}

.quiz-title {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;.result-screen {
    text-align: center;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .result-screen h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .result-screen p {
    font-size: 20px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.result-screen {
  text-align: center;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 10px;
  margin-top: 20px;
}

.result-screen h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

.result-screen p {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 20px;
}

